@import '@/styles/config';
@import '@/styles/normalize';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
